@page
@model Dogs1.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Petstores[0].PSLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Petstores[0].PSName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Petstores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PSLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PSID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PSID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PSID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
